.biografia {
  width: 100%; /* Ancho del contenedor principal */
  margin: 0 auto; /* Centrar el contenedor */
  padding: 20px;
  box-sizing: border-box;
  margin-top: 10%;
}

.biografia-h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
  margin-top: 2360px;
}

.contenido {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre filas */
  margin-bottom: 250px;
}

.fila {
  display: flex;
  align-items: flex-start; /* Alinear elementos al inicio */
  gap: 20px; /* Espacio entre texto e imagen */
}

.texto {
  flex: 1; /* Ocupa el espacio disponible */
  font-size: 1.1rem;
  line-height: 1.6;
  font-family: 'Josefin Sans', sans-serif;
}

.imagen {
  flex: 0.5; /* Ocupa el espacio disponible */
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen img {
  width: 100%; /* La imagen ocupa el 100% del contenedor */
  height: auto; /* Mantener la proporción */
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .biografia {
    width: 100%; /* Ancho del contenedor principal */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px;
    box-sizing: border-box;
    margin-top: 190%;
  }
  .biografia-h2 {
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    margin-top: 900%;
  }

}
  @media (min-width: 1204px) and (max-width: 1366px) {
.biografia {
  width: 100%; /* Ancho del contenedor principal */
  margin: 0 auto; /* Centrar el contenedor */
  padding: 20px;
  box-sizing: border-box;
}
}