/* Asegura que el carrusel ocupe toda la pantalla */

.carousel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Asegura que no haya desbordamiento */
  object-fit: cover;
}

.carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1); /* Escala inicial */
  transition: transform 0.5s ease; /* Transición suave para evitar saltos */
}

/* Zoom progresivo al reducir el ancho de pantalla */
@media (max-width: 1800px) {
  .carousel-container img {
    transform: scale(1.4);
  }
}
@media (max-width: 1200px) {
  .carousel-container img {
    transform: scale(1.05);
  }
}
@media (max-width: 1200px) {
  .carousel-container img {
    transform: scale(1.05);
  }
}

@media (max-width: 992px) {
  .carousel-container img {
    transform: scale(1.1);
  }
}

@media (max-width: 768px) {
  .carousel-container img {
    transform: scale(1.15);
  }
}

@media (max-width: 576px) {
  .carousel-container img {
    transform: scale(1.2);
  }
}

/* Estilos para el contenido principal */
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20; /* Asegura que el texto esté por encima del carrusel */
  text-align: center; /* Centra el texto */
  width: 100%; /* Ocupa el ancho completo */
}

/* Contenedor para "Cecilia Ferreyra" */
.nombre-container {
  position: relative;
  left: clamp(-200px, -10vw, -50px); /* Ajusta el desplazamiento lateral */
}

/* Contenedor para "Artista Visual" */
.titulo-container {
  position: relative;
  margin-top: clamp(-60px, -3vh, -30px); /* Ajusta el margen superior */
  margin-left: 200px;
}

/* Estilos para el texto */
.centro {
  font-size: clamp(3rem, 8vw, 5rem); /* Tamaño de fuente fluido */
  font-weight: bold;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra */
}

.centro2 {
  font-size: clamp(1.5rem, 4vw, 2rem); /* Tamaño de fuente fluido */
  font-weight: bold;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra */
}

.hinicio {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  background-color: #E6D5B8;
  display: flex;
  justify-content: space-between; /* Separa el logo, las opciones y el ícono */
  align-items: center;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  position: fixed; /* Fija el header en la parte superior */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

#logoinicio {
  height: 150px;
}

.titulo {
  display: flex;
  align-items: center;
  gap: 20px; /* Espacio entre el logo y el texto */
}

.nombre {
  font-size: 20px;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

/* Estilos para las opciones de navegación */
.header-nav {
  display: flex;
  gap: 20px; /* Espacio entre las opciones */
  margin-left: 300px;
}

.header-nav a {
  color: #000; /* Color del texto */
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
  padding: 5px 10px;
  border-bottom: 1px solid transparent; /* Línea divisoria invisible por defecto */
  transition: border-color 0.3s ease;
}

.header-nav a:hover {
  border-bottom: 1px solid #000; /* Línea divisoria visible al pasar el mouse */
}

/* Estilos para el ícono de login */
.login-icon {
  color: #000; /* Color del ícono */
  text-decoration: none;
  font-size: 1.5rem;
  padding-right: 20px;
  transition: color 0.3s ease;
  margin-left: 200px;
}

.login-icon:hover {
  color: #555; /* Cambia el color al pasar el mouse */
}

.finicio {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 32%;
  width: 100%;
  height: 160px;
  background-color: #E6D5B8;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  position: fixed;
  z-index: 30;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-left: 50px;
}

.icon {
  color: black;
  font-size: 3rem;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #be8c6b;
}

.icon.instagram:hover {
  color: #be8c6b;
}

.icon.facebook:hover {
  color: #be8c6b;
}

.icon.email:hover {
  color: #be8c6b;
}

.hamburger-menu-inicio {
  position: fixed;
  display: none;
  top: 20px;
  right: 20px;
  z-index: 1001;
  margin-top: 1.5%;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .carousel-container {
    height: 100vh;
  }

  .carousel-container img {
    height: 100vh;
    object-fit: cover;
  }

  .header {
    flex-direction: column;
    padding: 10px;
  }

  .titulo .nombre {
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-right: 240px;
  }

  .header-nav {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-right: 0;
  }

  .header-nav a {
    font-size: 1rem;
    text-align: center;
  }

  .login-icon {
    margin-left: 88%;
    top: 10%;
  }

  .hamburger-menu-inicio {
    position: fixed;
    display: block;
    top: 20px;
    right: 20px;
    z-index: 1001;
    margin-top: 1.5%;

  }
  .nombre-container {
    position: relative;
    left: clamp(00px, 10vw, -50px); /* Ajusta el desplazamiento lateral */
  }
  .titulo-container {
    position: relative;
    margin-top: clamp(-60px, 3vh, -30px); /* Ajusta el margen superior */
    margin-left: 200px;
  }
  .finicio {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 138%;
  width: 100%;
  height: 160px;
  background-color: #E6D5B8;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  z-index: 30;
}

}

@media (max-width: 345px) {
  .carousel-container {
    height: 100vh;
  }

  .carousel-container img {
    height: 100vh;
    object-fit: cover;
  }

  .header {
    flex-direction: column;
    padding: 10px;
  }

  .titulo .nombre {
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-right: 100px;
  }

  .header-nav {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-right: 0;
  }

  .header-nav a {
    font-size: 1rem;
    text-align: center;
  }

  .login-icon {
    margin-left: 88%;
  }

  .hamburger-menu-inicio {
    position: fixed;
    display: block;
    top: 20px;
    right: 20px;
    z-index: 1001;
    margin-top: 1.5%;

  }
  .nombre-container {
    position: relative;
    left: clamp(00px, 10vw, -50px); /* Ajusta el desplazamiento lateral */
  }
  .titulo-container {
    position: relative;
    margin-top: clamp(-60px, 3vh, -30px); /* Ajusta el margen superior */
    margin-left: 200px;
  }
  .finicio {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 650px;
    width: 100%;
    height: 160px;
    background-color: #E6D5B8;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    z-index: 30;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-right: 100px;
  }


  
} @media (min-width: 1204px) and (max-width: 1366px) {
  .finicio {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 160px;
    background-color: #E6D5B8;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
    bottom: 0;           /* <-- esto es lo que fija el footer al fondo */
    z-index: 30;
  }
    .login-icon {
      right: 12%;
      position: fixed;
  }
  .header-nav {
  display: flex;
  gap: 20px; /* Espacio entre las opciones */
  margin-left: 300px;
  position: absolute;
}
}

